.sidebar {
    width: 300px; 
    position: absolute; 
    right: 0;
    background-color: #fff; 
    border-right: solid 1px black; 
    height: 100vh;
    z-index: 1;
    background-color: lightgray;
}